# dbt artifacts and packages
target/
dbt_packages/
logs/
dbt_internal_packages/

# sensitive information
profiles.yml

# VS Code
.vscode/

# Ignore placeholder/test/dev files and folders
*_scratch_*
*_test_*
*_todo_*
notes_to_self/